/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ensures footer at bottom */
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #212121;
  margin: 0;
  letter-spacing: 1px;
}

nav a {
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  transition: 0.3s;
}

nav a[aria-current='page'] {
  background-color: #d4d4d4;
}

nav a:hover {
  background-color: #212121;
  color: white;
}

/* MAIN CONTENT */
main {
  flex: 1; /* takes remaining space, pushes footer to bottom */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADING */
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* PROJECT SECTION */
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

/* PROJECT LINKS */
.project-link {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  margin-top: 10px;
  transition: 0.3s;
  text-align: center;
}

/* HOVER EFFECT */
.project-link:hover {
  background-color: #212121;
  color: #fff;
}

/* STICKY FOOTER */
.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #eee;
  color: #212121;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #aaa;
  box-shadow: 0 -3px 8px rgba(0,0,0,0.2);
  z-index: 999; /* ensures footer is always on top */
}
/* RESPONSIVE */
@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
  }

  .project-link {
    padding: 10px 15px;
    font-size: 14px;
  }

  nav {
    padding: 10px 15px;
  }

  nav a {
    padding: 6px 10px;
    font-size: 14px;
  }
}